<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Criar Conta | AS Analytics</title>

    <link rel="stylesheet"
      href="{{ url_for('static', filename='cadastro.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">

</head>

<body>

    <div class="container auth-center">

        <div class="card fade">

            <img src="{{ url_for('static', filename='img/logotech.png') }}"
                 class="logo-login">

            <h2>Criar sua conta</h2>

            <p class="subtitle">
                Comece gratuitamente e tenha acesso aos dashboards,
                indicadores e análises do AS Analytics.
            </p>

            <form action="{{ url_for('cadastro') }}" method="POST">

                <label>Nome Completo</label>

                <div class="input">

                    <i class="fa-solid fa-user"></i>

                    <input
                        type="text"
                        name="nome"
                        placeholder="Digite seu nome"
                        required>

                </div>

                <label>Nome da Empresa</label>

                <div class="input">

                     <i class="fa-solid fa-building"></i>

                    <input
                        type="text"
                        name="empresa"
                        placeholder="Nome da empresa"
                        required>
                        

                </div>

                <label>E-mail Corporativo</label>

                <div class="input">

                    <i class="fa-solid fa-envelope"></i>

                    <input
                        type="email"
                        name="email"
                        placeholder="usuario@empresa.com.br"
                        required>

                </div>

                <label>Senha</label>

                <div class="input">

                    <i class="fa-solid fa-lock"></i>

                    <input
                        type="password"
                        name="senha"
                        placeholder="••••••••"
                        required>

                </div>

                <label>Confirmar Senha</label>

                <div class="input">

                    <i class="fa-solid fa-shield-halved"></i>

                    <input
                        type="password"
                        name="confirmar_senha"
                        placeholder="••••••••"
                        required>

                </div>

                <div class="options">

                    <label>

                        <input
                            type="checkbox"
                            required>

                        Aceito os termos de uso

                    </label>

                </div>

                <button type="submit">

                    CRIAR CONTA

                </button>

            </form>

            <div class="register">

                <span>Já possui uma conta?</span>

                <a href="{{ url_for('login') }}">

                    Entrar

                </a>

            </div>

            <div class="card-footer">

                © AS Analytics 2026

            </div>

        </div>

    </div>

</body>
</html>