<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Recuperar Senha | AS Analytics</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='cadastro.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">

</head>

<body>

<div class="container">

    <div class="card fade">

        <img src="{{ url_for('static', filename='img/logotech.png') }}"
             class="logo-login">

        <h2>Esqueceu sua senha?</h2>

        <p class="subtitle">
            Informe seu e-mail corporativo para receber as instruções de recuperação.
        </p>

        <form method="POST">

            <label>E-mail Corporativo</label>

            <div class="input">

                <i class="fa-solid fa-envelope"></i>

                <input
                    type="email"
                    name="email"
                    placeholder="usuario@empresa.com.br"
                    required>

            </div>

            <button type="submit">

                ENVIAR INSTRUÇÕES

            </button>

        </form>

        <div class="register">

            <a href="{{ url_for('login') }}">

                ← Voltar ao Login

            </a>

        </div>

    </div>

</div>

</body>
</html>